{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "overrides": [
        {
          "files": ["*.ts, *.tsx"],
          "excludedFiles": "*.js*"
        }
    ],
    "rules": {
        "@typescript-eslint/no-restricted-imports": [
            "warn",
            {
                "paths": [{
                    "name": "react-redux",
                    "importNames": ["useSelector", "useDispatch"],
                    "message": "Use typed hooks `useAppDispatch` and `useAppSelector` instead."
                }],
                "patterns": [{
                    "name": "mui-import-levels",
                    "group": ["@mui/material/*"],
                    "message": "Import from `@mui/material` instead as Vite manages the bundle size."
                }]
            }
        ],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_",
                "caughtErrorsIgnorePattern": "^_"
            }
        ],
        "@typescript-eslint/consistent-type-definitions": ["warn", "type"],
        "@typescript-eslint/no-explicit-any": "warn"
    }
}
